//----------  helpers
//------------------------------------------------------------------------------

* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

%clearfix {
	&::before, &::after {
		content: '';
		display: table;
	}
	&::after {
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.clear {
	clear: both;
}

.no-margin {
	margin: 0;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.centered {
	text-align: center;
}

.width-50 {
	width: 46%;
}

.text-left {
	text-align: left !important; // sass-lint:disable-line no-important
}

.sr-only {
	@include visually-hidden;
}

.has-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.cover-img {
	min-width: 1000%;
	min-height: 1000%;
	max-width: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
}

.overflow {
	position: fixed;
	overflow-y: scroll;
}

// Theming and colors iterator
@each $colors-name in $site-colors {
	$name: nth($colors-name, 1);
	$color: nth($colors-name, 2);
	.bg-#{$name} {
		background-color: $color;
	}
	.color-#{$name} {
		color: $color;
	}
}

.margin-lr-5 {
	margin-left: 5px;
	margin-right: 5px;
}

// Hover effect for butotns
.hover-effect {
	display: inline-block;
	padding-bottom: 2px;
	position: relative;
	&::before {
		content: '';
		backface-visibility: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		visibility: hidden;
		transform: scaleX(0);
	}
	@include hover {
		&::before {
			transform: scaleX(1);
			visibility: visible;
		}
	}
	.loaded & {
		&::before {
			transition: $default-transition;
			transition-property: transform;
		}
	}
}
.normal-weight {
	font-weight: normal;
}