.login__form-wrap {
	width: 50%;
	height: 100%;
	padding: 26px 27px 25px 10px;
	@include media-breakpoint-down(md) {
		width: 1000%;
		padding: 26px;
	}
	@include media-breakpoint-down(sm) {
		padding: 20px;
		height: 602px;
		max-height: 100%;
	}
	@include media-breakpoint-down(xxs) {
		padding: 20px 10px;
	}
}
.login__form-inner {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	background-color: $white;
	padding: 62px;
	@include media-breakpoint-down(sm) {
		padding: 51px 20px 33px;
		border-radius: 10px;
	}
	@include media-breakpoint-down(xxs) {
		padding: 51px 10px 33px;
	}
}
.login__logo-wrap {
	width: 241px;
	margin: 0 auto;
}
.login__form {
	margin: 88px auto 0;
	width: 100%;
	max-width: 350px;
	@include make-start;
	flex-direction: column;
	align-items: flex-start;
	@include media-breakpoint-down(sm) {
		margin: 42px auto 0;
	}
}
.login__form-title {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 16px;
	@include media-breakpoint-down(sm) {
		text-align: center;
		font-size: 26px;
		padding-left: 25px;
		margin-bottom: 40px;
	}
	@include media-breakpoint-down(xxs) {
		text-align: center;
		font-size: 22px;
		padding-left: 0;
		width: 100%;
		margin-bottom: 30px;
	}
}
.login__form-title-span {
	color: $yellow;
}
.login__label {
	font-size: 14px;
	font-family: $gilroy-bold;
	margin: 20px 0 0 12px;
	@include media-breakpoint-down(sm) {
		margin: 19px 0 0 12px;
	}
}
.login__input {
	height: 40px;
	line-height: 40px;
	width: 100%;
	padding: 0 14px;
	border-radius: 8px;
	background-color: $grey-6;
	border: 0;
	outline: none;
	margin-top: 8px;
	color: $black;
	&.invalid {
		background-color: $red-2;
		opacity: 0.2;
		& + .login__error {
			display: block;
			color: $red-2;
			font-family: $gilroy-medium;
			font-size: 14px;
			letter-spacing: 0;
			line-height: 17px;
			margin-top: 10px;
			padding: 0 14px;
		}
	}
	@include media-breakpoint-down(sm) {
		margin-top: 10px;
		&.invalid {
			& + .login__error {
				font-size: 12px;
				letter-spacing: 0;
				line-height: 15px;
				margin-top: 9px;
			}
		}
	}
}
.login__input--pass {
	font-size: 28px;
	padding-top: 5px;
}
.login__error {
	display: none;
}
.login__button {
	width: 180px;
	margin-top: 27px;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}